################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Redis
/Redis/bin/Debug/net6.0
/Redis/obj
